*,*::before,*::after{margin:0;padding:0;box-sizing:border-box}
body{font-family:'DM Sans',sans-serif;background:#000;color:#fff;overflow-x:hidden}
::selection{background:#D4FF0044;color:#000}
::-webkit-scrollbar{width:6px}
::-webkit-scrollbar-track{background:#000}
::-webkit-scrollbar-thumb{background:#D4FF0044;border-radius:3px}
a{color:inherit}
img{max-width:100%;display:block}
input:focus,select:focus,textarea:focus{border-color:#D4FF00!important;outline:none}
@keyframes marquee{0%{transform:translateX(0)}100%{transform:translateX(-50%)}}
@media(max-width:768px){
  nav>div>div:last-child{gap:6px!important}
  nav>div>div:last-child a{font-size:10px!important}
}
